@import 'tailwindcss';

.right-button {
  @apply flex flex-row justify-center items-center rounded-2xl text-xl px-3 py-1

         transition-transform duration-200
         enabled:cursor-pointer
         enabled:hover:bg-gray-200
         disabled:text-gray-500;
}

.upload-button {
  @apply flex flex-row justify-center items-center rounded-2xl text-xl px-3 py-1
         bg-gray-200 border-gray-500
         transition-transform duration-200
         enabled:cursor-pointer
         enabled:hover:bg-gray-300
         enabled:hover:border-2
         disabled:text-gray-500;
}

.file-display {
  @apply relative px-4 py-1 rounded bg-gray-200 text-xl;
}

.file-overlay {
   @apply absolute inset-0 hidden
         items-center justify-center
         bg-gray-300/60
         border-2 border-gray-500
         rounded
         cursor-pointer
         transition duration-200;
}

.group:hover .file-overlay {
  @apply flex;
}
